.container {
	width: 70%;
	padding: 0 12px;
	margin: 0 auto;

	@media only screen and (max-width: 900px) {
		width: 90%;
	}
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	text-align: left;

	.col {
		width: 100%;
	}
}